.sol {
  background-color: #4b6b56;
  flex: 1;
}
.sağ {
  background-color: black;
  flex: 3;
}
.container {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: brown;
}
img {
  display: flex;
  width: 200px;
  height: 200px;
  border-radius: 100%;
}
h1 {
  font-size: 40px;
  font-family: Poppins;
  font-weight: normal;
  color: FFBA49;
}

h3 {
  line-height: 1;
  font-size: 20px;
}

p {
  color: #ffba49;
}

nav {
  display: flex;
  flex-direction: column;
  margin: 0 70px 10px;
}
.search {
  overflow: hidden;
}

.created {
  padding: 20px 0;
  /*======= metni ortalayacak kodu yazın */
  text-align: left;
}
